<server description="oidcclient">
    <featureManager>
        <feature>webProfile-9.1</feature>
        <feature>openidConnectClient-1.0</feature>
        <feature>appSecurity-4.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>jwt-1.0</feature>
        <feature>mpJwt-2.0</feature>
        <feature>mpConfig-3.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9081" httpsPort="9444" id="defaultHttpEndpoint" host="*">
        <accessLogging logFormat='%h %i %u %t "%r" %s %b'/>
    </httpEndpoint>

    <keyStore id="defaultKeyStore" password="Password"></keyStore>

    <!-- <mpJwt id="mympjwt" issuer="https://example.com" jwksUri="http://localhost:9081/jwt/ibm/api/myBuilder/jwk"/> -->

    <!-- コンテキストルートに注意. /oidcはopenidConnectServer-1.0フィーチャーによって作成されるコンテキストルート -->
    <!-- https://stackoverflow.com/questions/61094656/how-to-get-extra-claims-from-openidconnect-client-login-in-openliberty -->
    <openidConnectClient 
        id="RP"
        clientId="myclient" 
        clientSecret="iY76PAdeKRuvlxgLmPasoQR86WId1eqw"
        httpsRequired="false" 
        userInfoEndpointEnabled="true"
        signatureAlgorithm="RS256" 
        userIdentifier="preferred_username" 
        scope="openid profile email microprofile-jwt"
        userNameAttribute="email"
        userIdentityToCreateSubject="email" 
        redirectToRPHostAndPort="http://myclient:9081/" 
        issuerIdentifier="http://keycloak:8080/auth/realms/master" 
        authorizationEndpointUrl="http://keycloak:8080/auth/realms/master/protocol/openid-connect/auth"
        tokenEndpointUrl="http://keycloak:8080/auth/realms/master/protocol/openid-connect/token"
        jwkEndpointUrl="http://keycloak:8080/auth/realms/master/protocol/openid-connect/certs">
    </openidConnectClient>

    <jwtBuilder id="defaultJWT" 
        issuer="http://keycloak:8080/auth/realms/master"
        scope="openid profile email microprofile-jwt">
        <claims>name,aud,upn</claims>
        <!-- <audiences>cdo-mapeditor</audiences> -->
    </jwtBuilder>

    <jwtConsumer id="defaultJwtConsumer"
        issuer="https://example.com"
        audiences="Luke, Leia, Han"
        signatureAlgorithm="RS256"
        jwkEnabled="true"
        jwkEndpointUrl="http://keycloak:8080/auth/realms/master/protocol/openid-connect/certs"
    />

    <!--
        discoveryEndpointUrl="http://localhost:8080/auth/realms/master/.well-known/openid-configuration"

        -->

    <webApplication contextRoot="/myclient" location="/home/hiro/github/oidc-example/myclient/target/myclient.war">
        <application-bnd>
            <security-role name="authenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </webApplication>
</server>